<h1>Socket cliente</h1>
<form id="form">
    <label>Product: </label><input type="text" name="title" id="title" />
    <label>Price: </label><input type="number" name="price" id="price" />
    <label>description: </label><input type="text" name="description" id="description" />
    <label>stock: </label><input type="number" name="stock" id="stock" />
    <label>category: </label><input type="text" name="category" id="category" />
    <label>code: </label><input type="text" name="code" id="code" />
    <input type="submit" value="SEND" id="send" />
</form>

    <div id="products">
        <div id="output"></div>
        <div id="actions"></div>
    </div>

<script src="/socket.io/socket.io.js"></script>
<script src="javascript/index.js"></script>